// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

#PannelHome{}
#PannelHomeRegister{}
#PannelHomeRegister table{display:block;width:100%;border-collapse:collapse;}
#PannelHomeRegister tbody, #PannelHomeRegister tr{width:100%;border-collapse:collapse;}
#PannelHomeRegister tr td{border-collapse:collapse;border:#000 1px solid;}
#PannelHomeRegister tr td:first-child{min-width: 70px;text-align:center;}
#PannelHomeRegister tr td:not(:first-child){width: 100%;}
#PannelHomeRegister input{display:block;width: 100%;font-size:30px;height:35px;line-height:35px;border:0;padding-left:3px;}
#PannelHomeRegister button{height:40px;line-height:30px;font-size:25px;width: 100%;}
#PannelHomeList{}
.QABlock{border-bottom:#000 1px solid;height:66px;}
.QABlock p{position:relative;display:inline-block;height:65px;width: 200px;max-width: 200px;overflow:hidden;}
.QABlock button{position:relative;float:right;display:inline-block;height:65px;width:calc(100% - 200px);}

#ControlsListTabs{height:50px;border-bottom:#000 2px solid;padding: 3px 0 0 0;}
.control-tab{
	display:inline-block;
	width:100px;height:44px;
	line-height:56px;font-size: 12px;
	text-align:center;
	margin-top:2px;
	border:#000 1px solid;
	border-bottom:0;
	background:#cccccc;color:#666666;
}
.control-tab[activ="0"]{opacity:0.6;}
.control-tab[activ="1"]{}
.control-tab[stype="square"]{ border-radius:0px;  }
.control-tab[stype="tabulate"] {
	border-radius: 0px;
	border-top-left-radius: 150px 600px;
	border-top-right-radius: 150px 600px;
}
.control-tab[stype="rounded"] { border-radius: 15px 15px 0px 0px; }
.control-grid{
position:fixed;top:107px;left:0px;right:0px;bottom:0px;padding:2px;
background: #808080;
}
.control-grid[activ="0"]{display:none;}
.control-grid[activ="1"]{display:block;}
.control-grid-button {
	overflow-x: hidden;
	margin: 2px;
	border:#ffffff 2px solid;
	display: inline-block;
	background: #666666;
	color: #ffffff;
	text-align: center;
	float: left;
	background-size: auto calc(100% - 6px);
	background-position: 3px 3px;
	background-repeat: no-repeat;
}
.control-grid-button:active{filter:invert(100%);}
.control-grid-button span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}